:root {
  --background-color: #73b5c7e7;
  --main-color: #72a9b8;
}

* {
  font-family: 'Arial';
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 35px;
}

form {
  margin: 0px 35px;
}

.navLink {
  padding: 22px;
  width: 33.3333%;
  background-color: var(--main-color);
}

.navLink:hover {
  background-color: #55747c;
  transition: 100ms ease-in;
}

a:-webkit-any-link {
  text-decoration: none;
  color: aliceblue;
}

.product {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 12px;
}

.navBar, .product, .searchInput {
  min-width: 600px;
}

.product:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 43%);
}

.buttonBuy {
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buttonBuy:hover {
  text-decoration: underline;
}

.searchInput {
  background-color: var(--main-color);
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 16px;
}

.searchInput:focus {
  outline: none;
}